.benefits {}

.container {}

.visually-hidden {}

.benefits__list {
    display: flex;
    gap: 30px;

}

.benefits__item {}

.benefits__div {
        display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    background-color: $color-command-background;

}

.benefits__icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.benefits__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.benefits__text {
    color: $gray-color-p;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}